@{
    ViewData["Title"] = "Home Page";
}
@model WebsiteUser;

@using System.Linq;
@using AQLI.Data.Models;
@using AQLI.DataServices;
@using Microsoft.AspNetCore.Identity;

@inject DataFactory DataSource
@inject UserManager<WebsiteUser> UserManager 

@section Style {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
}

@{ 
    var user = await UserManager.GetUserAsync(User);

}

<style>
    .dataTables_length {
        display: none;
    }

    .sdn-purchase-overview-card-header {
        height: 15px;
    }
</style>

<div class="container-fluid">
    @if (TempData["ActionStatusCode"] != null)
    {
        @if ((int)TempData["ActionStatusCode"] == 0)
        {
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-block alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>Transfer Complete!</h4>
                        @Html.Raw(TempData["ActionStatusMsg"])
                    </div>
                </div>
            </div>
        }
        else if ((int)TempData["ActionStatusCode"] > 0)
        {
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-block alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>Unable to transfer purchase</h4>
                        @Html.Raw(TempData["ActionStatusMsg"])
                    </div>
                </div>
            </div>
        }
    }
    <div class="row">
        <div class="col-8 text-center">
            <h2 class="display-9 col-8">@user.FirstName's Home Dashboard</h2>
        </div>
        <br />
    </div>

    <!-- Dashboard Tab Navigation -->
    <div class="row justify-content-center">
        <div class="col-9 text-center">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a href="#tanks_tab" class="nav-link active" data-toggle="tab">
                        <img src="~/images/icons/TankStatus_Established_Active.png" height="50" width="50" />
                        <br />My Tanks
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#fish_tab" class="nav-link" data-toggle="tab">
                        <img src="~/images/icons/TankTab_Fish_Header.png" height="50" width="50" />
                        <br />Fish
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#plant_tab" class="nav-link" data-toggle="tab">
                        <img src="~/images/icons/TankTab_Plant_Header.com.png" height="50" width="50" />
                        <br />Plants
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#supplies_tab" class="nav-link" data-toggle="tab">
                        <img src="~/images/icons/TankTab_Supplies_Header.png" height="50" width="50" />
                        <br />Supplies
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#maintenance_tab" class="nav-link" data-toggle="tab">
                        <img src="~/images/icons/TankTab_Maintenance_Header.png" height="50" width="50" />
                        <br />Maintenance
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#inventory_tab" class="nav-link" data-toggle="tab">
                        <img src="~/images/icons/TankTab_Equipment_Header.png" height="50" width="75" />
                        <br />Equipment
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#incident_tab" class="nav-link" data-toggle="tab">
                        <img src="~/images/icons/TankTab_Report_Header.png" height="50" width="65" />
                        <br />Reporting
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#notifications_tab" class="nav-link" data-toggle="tab">
                        <img src="~/images/icons/TankTab_Notification_Header.png" height="50" width="50" />
                        <br />Alerts <i class="badge badge-pill badge-info">@Model.Notifications.Count()</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#purchases_tab" class="nav-link" data-toggle="tab">
                        <img src="~/images/icons/TankTab_Invoice_Header.png" width="50" height="50" />
                        <br />Invoices
                    </a>
                </li>
            </ul>

            <div class="tab-content" style="border-radius: 0 0 4px 4px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 10px; ">
                <!-- My Tanks tab -->
                <div class="tab-pane container-fluid active" id="tanks_tab">
                    <partial name="tabs/_Tab_MyTanks" model="Model" />
                </div>
                <!-- Fish tab -->
                <div class="tab-pane container-fluid justify-content-center fade" id="fish_tab">
                    <partial name="tabs/_Tab_Fish" model="Model" />
                </div>
                <!-- Plant tab -->
                <div class="tab-pane container-fluid justify-content-center fade" id="plant_tab">
                    <partial name="tabs/_Tab_LivePlants" model="Model" />
                </div>
                <!-- Supplies tab -->
                <div class="tab-pane container-fluid justify-content-center fade" id="supplies_tab">
                    <partial name="tabs/_Tab_SuppliesFood" model="Model" />
                </div>
                <!-- Maintenance tab -->
                <div class="tab-pane container-fluid fade" id="maintenance_tab">
                    <partial name="tabs/_Tab_Maintenance" model="Model" />
                    <script type="text/javascript" src="~/js/Maintenance/Maintenance.js"></script>
                </div>
                <!-- Equipment tab -->
                <div class="tab-pane container-fluid fade" id="inventory_tab">
                    <partial name="tabs/_Tab_Inventory" model="Model" />
                </div>
                <!-- Reporting tab -->
                <div class="tab-pane container-fluid fade" id="incident_tab">
                    <partial name="tabs/_Tab_IncidentReports" model="Model" />
                </div>
                <!-- Alerts tab -->
                <div class="tab-pane container-fluid fade" id="notifications_tab">
                    <partial name="tabs/_Tab_Notifications" model="Model" />
                </div>
                <!-- Purchase Invoice tab -->
                <div class="tab-pane container-fluid p-0 fade" id="purchases_tab">
                    <partial name="tabs/_Tab_PurchaseInvoices" model="Model" />
                </div>
            </div>
        </div>
        <br />
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/Purchases/Purchases.js"></script>
    <script type="text/javascript" src="~/js/Maintenance/Maintenance.js"></script>
    <script type="text/javascript" src="~/js/Tank/Tank.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
}

<!-- Use this for loading/reloading partial pages into a div -->
<!-- $('#divPartial').load('/Tank/'); -->