@{
    ViewData["Title"] = "Uploads| Aquatic Life Inventory";
}

<div class="container">
    <div class="row">
        <div class="col-12 align-content-center">
            <form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="UploadFiles">
                <div class="form-group">
                    <div class="col-md-5">
                        <input type="text" name="StoreName" />
                    </div>
                    <div class="col-md-5">
                        <input type="date" name="PurchaseDate" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <label>Purchase Invoice: (<i>.pdf, .jpg, or .png</i>)</label>
                        <br />
                        <input class="form-control-file" type="file" name="InvoiceFile" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Upload" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
