<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                !!!! Modal Title Goes Here !!!!
            </h4>
        </div><div class="container-fluid"></div>
        <div class="modal-body">
            <b>
                !!!! Modal Body Goes Here !!!!
            </b>
        </div>
        <div class="modal-footer">
            !!!! Modal Footer Goes Here !!!!
            @*<a id="ConfirmDeleteBtn" href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>*@
        </div>
    </div>
</div>